Repository machinelabs/machinelabs, pull requests merged in 2018-05, with the labels that each got.

#804 docs(developer-guide): add project flag to firebase commands, add pul…
  DEVELOPERS_GUIDE.md
Labels: type: docs

#807 refactor(e2e): remove protractor from client
  client/angular-cli.json
  client/e2e/app.e2e-spec.ts
  client/e2e/app.page-object.ts
  client/e2e/editor-view/editor-view.e2e-spec.ts
  client/e2e/editor-view/editor-view.page-object.ts
  client/e2e/editor-view/file-name-dialog.page-object.ts
  client/e2e/embedded-editor-view/embedded-editor-view.e2e-spec.ts
  client/e2e/embedded-editor-view/embedded-editor-view.page-object.ts
  client/e2e/md-dialog/md-dialog.page-object.ts
  client/e2e/tsconfig.e2e.json
  client/e2e/utils.ts
  client/package.json
  client/protractor.conf.js
  client/yarn.lock
Labels: P4: nice to have, PR state: WIP, comp: client, type: refactor

#816 Improve login pop-up experience
  client/src/app/auth/auth.service.spec.ts
  client/src/app/auth/auth.service.ts
  client/src/app/auth/firebase-auth.service.ts
  client/src/app/auth/offline-auth.service.ts
  client/src/app/toolbar/toolbar-menu/toolbar-menu.component.spec.ts
Labels: P3: important, PR state: WIP, comp: client

#824 feat(client): initial setup for new loading bar
  client/package.json
  client/src/app/app.component.ts
  client/src/app/app.module.ts
  client/src/app/lab-editor/editor-view/editor-view.component.ts
  client/src/app/shared/progress-bar/progress-bar.component.spec.ts
  client/src/app/shared/progress-bar/progress-bar.component.ts
  client/src/app/shared/progress-bar/progress-bar.service.spec.ts
  client/src/app/shared/progress-bar/progress-bar.service.ts
  client/src/app/shared/shared.module.ts
  client/yarn.lock
Labels: P2: required, PR state: WIP, comp: client, type: refactor
